input, button{
    box-shadow:none!important;
}

.header{
    margin: 3rem 0 1rem 0;
}

     .buttons-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0;
    }

     .buttons-container div{
         margin: 0 0 0 1rem;
     }

.btn {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    min-width: 70px;
    border-radius: 25px;
    padding: .2rem .5rem;
}
